<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Gêneros</title>
</head>
<body>
    <h1>Gêneros</h1>

    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="nome" placeholder="Nome do Gênero" required>
        <button type="submit">Adicionar Gênero</button>
    </form>
    
    <h2>Lista de Gêneros</h2>
    <ul>
        {% for genero in generos %}
            <li>{{ genero.nome }} 
                <a href="{{ url_for('delete_genero', id=genero.id) }}">Deletar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>
